.wrapper {
  .logo {
    font-size: 40px;
    filter: brightness(1.7);
  }

  .header {
    gap: 1em;
    display: flex;
    padding: 0;
    list-style: none;

    .link {
      font-weight: bold;

      &.active {
        text-decoration: underline;
      }
    }
  }
}
