.wrapper {
  padding: 1em;
  border: 1px solid;

  .addProductForm {
    display: grid;
    gap: 1em;
  }

  .error {
    color: red;
    margin: 0;
  }

  .preview {
    & img {
      max-height: 150px;
      margin-top: 1em;
    }
  }
}
